<form action="/add", method="POST">

    <h2>Add movies</h2> 

        <div class="input-field">
            <input required type="text" name="movies" id="movies" placeholder="Movies">
        </div>
        <div class="input-field">
            <input type="number" step="any" name="rating" id="rating" placeholder="Rating">
        </div>
        <div class="input-field">
            <input type="number" name="year1" id="year1" placeholder="Year">
        </div>

    <button type="submit" class="btn">Create</button>
</form>